body {
   background: #091428;
}
.header{
   display: flex;
   width: 100%;
   height: 5rem;
   justify-content: center;
   align-items: center;
   background-color: #040912;
   flex-direction: row;
   flex-flow: row wrap;
   padding: 5rem;
   color: #785A28;
   background-image: url(https://giffiles.alphacoders.com/276/2766.gif);
}
header h1 {
   border: #C8AA6E;
   padding: 20px;
   color: #C89B3C;
   width: 300%;
   text-align: center;
}
h2{
  color: #C89B3C;
}
.pequenaexplicação {
  margin:1em;
  display: flex;
  position: initial;
  flex-wrap: wrap;
  justify-content: center;
  font-style: italic;
  font-size: larger;
  color: darkgoldenrod;
}

.search-by-function {
  color: #C89B3C;
  
}
fieldset{
  border-color: #C89B3C;
}
.nav ul a{
  color: #C89B3C;
  font-style: normal;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  
}

#search{
  border-radius: 10px;
  

}
#text {
  border-radius: 10px;
}

.champions-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 20px;
 }
 
 .champions-cards .card {
   width: 30%;
   margin-bottom: 20px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   overflow: hidden;
   border: 2px solid #785A28;
   background-color:#1E282D ;
   color: #F0E6D2;

 }
 .card img{
   max-width: 100%;
   height: auto;
 }
 
 @media (max-width: 768px) {
 html {
  font-size: auto;
 }
 }
 
 @media (max-width: 630px){
 .header{ 
    display: auto ;
    flex-direction: row;
    font-size: 10px;
    margin:auto;
   }

   .header h2{
    font-size:xx-small;
   }
  
 .champions-cards .card{
  width: 80%;
  max-width: 528px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* isso alinha as informaçoes dentro do card */
 }

.checkbox-check{
  display: flex;
}
 





  /* display: grid; */ /*sem isso, o card ficou mais miudinho 
  /* grid-template-columns: 310px 310px 310px; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* isso alinha as informaçoes dentro do card  */
  /* grid-gap: 20px; */
  /* font-size: 17px; /*tamanho da letra de dentro do card no responsivo telas pequenas  */
  /* line-height:0% */
 } 
 
 
 